<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a href="javascript://">
                <img  width="60" height="60" src="assets/title.png" />
                <span class="title">RAG-A-THON2</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="search-bar">
            <cds-icon class="search-icon" shape="search" size="24"></cds-icon>
            <input clrInput placeholder="Ask me anything ..." [(ngModel)]="message" (keyup.enter)="search()" />
            <button class="btn btn-link search-btn" (click)="search()" [disabled]="isLoading || !message.trim()">
                <cds-icon class="arrow-icon" shape="circle-arrow" size="24"></cds-icon>
            </button>
        </div>
        <div *ngIf="isLoading" class="spinner">
            <span class="spinner spinner-inline">
                Loading...
            </span>
            <span>
                Loading...
            </span>
        </div>
        <div class="response-wrapper">
            <div>
                <div *ngFor="let response of responses" class="response-container">
                    <div class="question">
                        <h3>Question:</h3>
                        <p>{{ response.question }}</p>
                        <small class="timestamp">{{ response.timestamp | date:'medium' }}</small>
                    </div>
                    <div class="answer">
                        <h3>Answer:</h3>
                        <p>{{ response.answer }}</p>
                    </div>
                </div>
            </div>
            @if(image) {
                <img [src]="image">
            }
        </div>
    </div>
</div>
