.search-bar {
    position: relative;
    display: flex;
    margin: 1rem auto;

    .search-icon {
        position: absolute;
        top: 1rem;
    }

    input {
        width: 30rem;
        font-size: 1rem;
        padding-left: 2rem;
    }

    .search-btn {
        position: absolute;
        right: -1rem;
        top: .3rem;
    }
}
